@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	font-family: 'Play', sans-serif;
}

::-webkit-scrollbar {
	background: transparent;
	width: 8px;
	height: 0;
}

::-webkit-scrollbar-track {
	background: #101010;
}

::-webkit-scrollbar-thumb {
	background: #202020;
	border-radius: .5rem 0 0 .5rem;
	box-shadow: inset 0 0 5px #303030;
}

::-webkit-scrollbar-thumb:hover {
	background: #0099ff;
}

::-webkit-scrollbar-thumb:active {
	background: #003366;
}

body {
	background-color: #101010;
	color: #ededed;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: fit-content;
	padding: 63px 0;
}

header {
	background: linear-gradient(to bottom, #161616, #101010);
	box-shadow: 0 5px 5px #00000080;
	padding: 10px;
	z-index: 3;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

h1 {
	color: #bbb;
	text-align: center;
	font-size: 26px;
}

section {
	padding: 0 0;
	display: flex;
	flex-direction: column;
	/* align-items: center;
	justify-content: center; */
	position: relative;
	width: 100%;
	height: fit-content;
	overflow: hidden;
}

/* #mouseSeeker {
	position: absolute;
	background: linear-gradient(to right, #0099ff, #77ff77, #ff3344, #930fda, #ff3344, #77ff77, #0099ff);
	background-size: 1000%;
	width: 650px;
	height: 650px;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	animation: rgb 10s linear infinite;
}

#mouseSeeker::after {
	content: '';
	position: absolute;
	top: -5%;
	left: -5%;
	width: 110%;
	height: 110%;
	background: radial-gradient(transparent, #000000f0 50%, #000000);
	border-radius: 50%;
}

@keyframes rgb {
	0% {
		background-position: 100% 100%;
	}

	50% {
		background-position: 0% 0%;
	}

	100% {
		background-position: 100% 100%;
	}
} */

#canvas {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
}

#background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("pattern.svg");
	/* background-size: 128px 64px; */
	background-size: 96px 48px;
	z-index: 1;
}

#container {
	z-index: 2;
	margin: 40px auto;
	background: #101010ee;
	border-radius: .5rem;
	padding: 20px;
	box-sizing: border-box;
	width: 80%;
	max-width: 1280px;
	box-shadow: 0 0 5px 2px #000000c0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	gap: 33px;
}

.gameCard {
	width: 231px;
	height: 157px;
	box-sizing: border-box;
	border-radius: .5rem;
	position: relative;
	background: #2020208d;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 2px #0000008d;
	cursor: pointer;
}

.gameCard:hover{
	background: #202020cd;
	transform: scale(1.02);
}

.gameCard img {
	width:100%;
	height: 100%;
	border-radius: .5rem;
}

.gameCard figcaption {
	position: absolute;
	bottom: 20px;
	right: 0;
	padding: 4px 12px 4px 20px;
	box-sizing: border-box;
	background: linear-gradient(to left, #101010 0% 75%, transparent);
}

footer {
	background: linear-gradient(to top, #161616, #101010);
	box-shadow: 0 -5px 5px #00000080;
	padding: 10px;
	box-sizing: border-box;
	z-index: 2;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

a {
	font-weight: bold;
	text-decoration: underline;
	color: #ededed;
}

a:visited {
	color: #ededed
}

a:hover {
	color: #ededed;
}