@charset "UTF-8";
@font-face{
	font-family: 'mag';
	src: url("magneto.ttf");
}

body{
	background-color: black;
}

#loadGif{
	position: absolute;
	left: 49%;
	top: 50%;
}

#tela{
	position: absolute;
	left: .5%;
	width: 99%;
	top: .5%;
	height: 99%;
}